div
	position relative
	padding 10px 0
	vertical-align middle
	.inputTask
		width 90%
		position relative
		display inline-block
	.addTask
		position absolute
		right 0
		font-size 20px
		cursor pointer